@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3 style="color:red">Pick up date cannot be earier than today's date or later than return date</h3>